{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'pessoas/css/style.css' %}">
    <title>Document</title>
</head>
<body>
   <div class="main">
     <h1>Faça seu login</h1>
    <div class="form-login">
        <form action="{% url 'pessoas:user_login' %}" method="POST">{% csrf_token %}
            <input type="text" name="nome" placeholder="Digite seu nome">
            <input type="password" name="senha" placeholder="Digite sua senha">
            <button>Enviar</button>
        </form>
        
   </div>
   <p>Ainda não tem conta? <a href="{% url 'pessoas:user_create' %}">Cadastra-se</a></p>
        {% if error %}
    <p style="color: red;">{{error}}
    </p>
        {%endif%}
    </div>
    <div class="main logo">
        <h1>To-do-list</h1>
        <img src="{% static 'pessoas/img/logo.png' %}" alt="">
    </div>
</body>
</html>