{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'pessoas/css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <h1>Cadastre-se</h1>
    <!---<div class="img">
        <img src="{% static 'pessoas/img/image.png' %}" alt="">
    </div> -->
        <div class="form-login">
            <form action="{% url 'pessoas:user_create' %}" method="POST">{% csrf_token %} 
            <input type="text" name="nome" placeholder="Digite seu nome">
            <input type="number" name="idade" placeholder="Informe seu idade">
            <input type="password" name="senha" placeholder="Digite sua senha">
            <button>Enviar</button>

        </form>
        </div>
        <p>Já tem conta? <a href="{% url 'pessoas:user_login' %}">Faça seu login</a></p>
        
    </div>
    

    
</body>
</html>