.main{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid;
    align-self: center;
    margin-left: 30%;
    margin-top: 10%;

}