<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Criar tarefa</h1>
    <form action="{% url 'tarefas:tarefa_create' %}" method="POST"> {%csrf_token%}
        <input type="text" name="nome" placeholder="Titulo da tarefa">
        <textarea name="descricao" id="cesc" placeholder="Descrição da tarefa"></textarea>
        <input type="date" name="prazo" placeholder="prazo">
        <button>Enviar</button>

    </form>
</body>
</html>