{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'tarefas/css/style.css' %}">
</head>
<body>
    
    <div class="main">
    <header>
        
        <form action="{% url 'tarefas:tarefa_create' %}"> {% csrf_token %}
        <button class="add">Add +</button>
    </form>
    </header>
    <h1>To-do-list</h1>

    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Prazo</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {%for tarefa in tarefas%}
            <tr>
                <td id="titulo">{{tarefa.nome}}</td>
                <td>{{tarefa.prazo}}</td>
                {% if tarefa.status == 'A' %}
                <td style="color: orange;">Em andamento</td>
                {% elif tarefa.status == "P" %}
                <td style="color: red;">Pendente</td>
                {% else %}
                <td style="color: green;">Concluída</td>
                {% endif %}
                <td>
                    <form action="{% url 'tarefas:excluir_tarefa' tarefa.id %}" method="POST">{%csrf_token%}
                        <button>🗑️</button>
                    </form>
                </td>
                {%if tarefa.status != 'C' %}
                <td>
                    <form action="{% url 'tarefas:concluir_tarefa' tarefa.id %}" method="POST">{%csrf_token%}
                        <button>✔</button>
                    </form>
                </td>
                {%endif%}
                
            </tr>
            {%endfor%}
        </tbody>
        
            
        
    </table>
        
    
    
    
    </div>
</body>
</html>