<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <main>
        <h1>
            Conversor Binário
        </h1>
        <form method="POST" action="{{url_for('index')}}">
            <input type="text" id="numero" name="numero" placeholder="Digite um número binário">
            <button>Converter para decimal</button>
        </form>
        <div class="caixa">
            {%if not bin%}
                <h4>Resultado aparecerá aqui</h4>
            {%else%}
                <div class="resp"><h4>Seu número em binário é igual à :  </h4><p style="color: green;">{{bin}}</p></div>
            {%endif%}
        </div>
    </main>
</body>
</html>