<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <main>
        <h1>
            Conversor de Bases Númericas
        </h1>
        <form method="POST" action="{{url_for('index')}}">
            <label for="numero">Digite um número em decimal</label>
            <input type="text" id="numero" name="numero" placeholder="#">
            <label for="base">Selecione a base em que deseja calcular</label>
            <select name="base" id="base">
                {%for i in range(0,15)%}
                <option value={{i}}>{{i}}</option>
                {%endfor%}
            </select>
    
            <button>Converter </button>
        </form>
        <div class="caixa">
            {%if not res%}
                <h4>Resultado aparecerá aqui</h4>
            {%else%}
                <div class="resp"><h4>Seu número em base {{base}} é igual à :  </h4><p style="color: green;">{{res}}</p></div>
            {%endif%}
        </div>
    </main>
</body>
</html>